@import "../../mixin";

.dealerContainer {
  width: 80%;
  margin-top: 2rem;
  margin-left: 20%;
  @include flex(column, center, flex-start);

  h3,
  h4,
  h2 {
    font-weight: 300;
  }
  .link {
    @include flex;
    color: #305f75;
    cursor: pointer;
    padding: 2rem 0;
    img {
      width: 1.3rem;
      margin: 18px 10px;
    }
  }
}

.deals {
  @include flex;
  gap: 3rem;

  &.animated {
    .deal-1 {
      animation: slide-up 0.3s forwards;
    }
    .deal-2 {
      animation: slide-up 0.5s forwards;
    }
    .deal-3 {
      animation: slide-up 0.7s forwards;
    }
    .deal-4 {
      animation: slide-up 0.9s forwards;
    }
    @keyframes slide-up {
      0% {
        transform: translateY(8rem);
      }
      25% {
        transform: translateY(6rem);
      }
      50% {
        transform: translateY(4rem);
      }
      75% {
        transform: translateY(2rem);
      }
      100% {
        transform: translateY(0rem);
      }
    }
  }

  img {
    width: 15.5rem;
  }
}

section {
  p,
  h4 {
    margin: 0;
    padding: 0;
  }

  img {
    margin-bottom: 0.5rem;
  }
}
