@font-face {
  font-family: "KlarnaDisplay-Bold";
  src: local("KlarnaDisplay-Bold"),
    url("./resources/fonts/KlarnaDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "KlarnaText-Bold";
  src: local("KlarnaText-Bold"),
    url("./resources/fonts/KlarnaText-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "KlarnaText-Medium";
  src: local("KlarnaText-Medium"),
    url("./resources/fonts/KlarnaText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "KlarnaText-Regular";
  src: local("KlarnaText-Regular"),
    url("./resources/fonts/KlarnaText-Regular.woff2") format("woff2");
}
